#admin_bar {
  font-size: 14px;
  background-color: #1D1D1D;
  text-align: center;
  color: #fff;
  padding: 2px;

  strong, a {
    color: #fff;
  }

  a:hover {
    color: #aaa;
    text-decoration: underline;
  }
}
